body{
 
    background-image: url('images/agq_bg2.png'); 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    background-size: cover;
    
}

#agqlogo {
    width: 70px;
    height: 50px;
}

#title {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal; 
    text-decoration: underline;
    margin-top: 4.5%;
}

#border {
    margin-top: 10%;
    background-color: #fefefd;
    height: fit-content;
    width: 390px;
    padding: 70px;
    border-radius: 15px;
    border: 2px solid #90ae5e;
}

#border1 {
    margin-top: 2.5%;
    background-color: #fefefd;
    height: fit-content;
    width: 390px;
    padding: 20px;
    border: 8px solid #d0dcb3;
}

#labels {
    margin-top: 6%;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
}

#inputs, #inputs0, #newPass, #rePass{
    background-color: #d9d9d9;
    border-radius: 9px;
}

#input2{
    margin-top: 5%;
    width: 223px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-radius: 0%;
    
}

#input3{
    width: 223px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-radius: 0%;
    display: block;
    margin: 40px auto;
    margin-bottom: 0%;
}

#forgotP a {
    margin-top: 11%;
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: smaller;
    color: inherit;
    display: inline-block;
}


#button {
    text-align: center;
    background-color: #90ae5e;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-small;
    border: none;
    border-radius: 20px;
    width: 140px;
    height: 30px;
}

#button1, #button1_1 {
    margin-top: 20%;
    text-align: center;
    background-color: #90ae5e;
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
    font-size: x-small;
    border: none;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    margin-bottom: 38%;
}


.file-upload {
    position: relative;
    display: inline-block;
}

#cPic {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#image-error {
    position: absolute;
    bottom: 133px;
    right: 18px;
    margin-left: 0%;
    white-space: nowrap;
}

#imgholder {
    width: 260px;
    height: 290px;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: 1px solid;

}

.back-button {
    position: absolute;
    top: 10px;
    left: 30px;
    margin: 0; /* Ignore preset margins */
}

#border {
    position: relative; /* Ensure the containing element is positioned relatively */
}