body {
  background-color: rgb(253, 253, 251);
  font-family: IBM Plex Sans;
}

.document-type-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 110px 110px 110px;
}

.title {
  font-size: 38px;
  font-family: 'IBM Plex Sans', 'Arial', 'Helvetica';
  font-weight: bold;
}

.title-heading {
  margin-bottom: 40px;
}

.document-bars {
  display: flex;
  flex-direction: column;
}

button {
  max-width: 500px;
  padding: 30px 100px 30px 100px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  font-size: 19px;
  font-family: 'IBM Plex Sans', 'Arial', 'Helvetica';
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;
}

button:hover {
  opacity: 0.8;
  box-shadow: 0 0 20px rgb(85, 114, 39);
}

button.disabled:hover {
  opacity: 1;
  box-shadow: none;
  cursor: not-allowed; 
}

.document-type-manifesto {
  background-color: rgb(144, 174, 94);
  border-width: 2px 2px 1px 2px;
}

.document-type-soa {
  background-color: hwb(78 70% 14%);
  border-width: 1px 2px 1px 2px;
}

.document-type-freight-invoice {
  background-color: rgb(144, 174, 94);
  border-width: 2px 2px 1px 2px;
}

.document-type-summary {
  background-color: rgb(207, 219, 179);
  border-width: 1px 2px 2px 2px;
}

.document-type-others{
  background-color: rgb(144, 174, 94);
  border-width: 2px 2px 1px 2px;
}